<div class="row">
  <div class="col-sm-2 sidebar text-center">
    <%= flash[:notice]%>
    <h6 class="text-center">Your logged in as:</h6>
    <h3 class="text-center"><%=@user.name %></h3>
    <%= image_tag @user.avatar.url(:thumb) %>
    </br>
    </br>


    <button type="submit" class="btn btn-primary btn-block btn-sm actions text-center">Edit Profile</button>
    <button type="submit" class="btn btn-primary btn-block btn-sm actions text-center">My Photos</button>
    <button type="submit" class="btn btn-primary btn-block btn-sm actions text-center">My Favorites</button>

    <p>Add Image Avatar:</p>
    <%=render 'avatar' %>


  </div>

  <div class="col-sm-10 text-center">

    <h3>The Golden Era</h3>

    <% @user.images.each do |image| %>
      <%=image_tag image.photo.url(:medium) %>
      </br>
      </br>

    <% end %>


  </div>
</div>
