<%= form_for [@user, @image], :html => { :multipart => true } do |f| %>
  <div class ="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <p>
    <%= f.file_field :photo %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
